<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <h3>List of Posts</h3>
      <ul>
        <% result.forEach(function(post){ %>
        <div class = "allPosts">
          <li>
           
          <div class = "leftBox">
            <form class="upVote" id="post_form_up_<%=post.id%>" action="/votePost" method="post">
              <input type="hidden" name="vote" value="1">
              <input type="hidden" name="postId" value="<%= post.id %>">
              <button type="submit">upvote this</button>
            </form> 
            
            <p id='post_score_<%=post.id%>'>Votescore: <%= post.voteScore %></p>
            
            <form class="downVote" id="post_form_down_<%=post.id%>" action="/votePost" method="post" >
              <input type="hidden" name="vote" value="-1">
              <input type="hidden" name="postId" value="<%= post.id %>">
              <button type="submit">downvote this</button>
            </form>
          </div>
          
          <div class = "rightBox">
            <h2><a href= <%= post.url %> > <%= post.title %></a></h2>
            <div class = createdInfo>
              <p>Created by: <%= post.user.username %></p>
              <p>Created at: <%= post.createdAt %></p>
            </div>
          </div> 
            
          </li>
        </div>
        <% }) %>
      </ul>
    
  </main>

<footer>
  <% include ../partials/footer %>
</footer>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
    <script src='/public/main.js'></script>
</body>
</html>